# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/.bundle/install.log

# Keep a secret d(ﾟεﾟ；)
/config/secrets.yml

# Ignore local gems on vendor/bundle
/vendor/bundle

# Ignore vi's swap files
*.swp
*.swo

# Ignore emacs's swap files
*~

# Ignore simplecov's coverage files
/coverage

# Ignore other unneeded files.
doc/
.DS_Store
