# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore local gems on vendor/bundle
/vendor/bundle

# Ignore Gemfile.lock
/Gemfile.lock

# Ignore vi's swap files
*.swp

# Ignore emacs's swap files
*~

# Ignore other unneeded files.
doc/
.DS_Store
