//
// 共通設定
//
// 推奨：各コントローラー向けscssの上部で@importすること
//       @import "common";
//

// ------------------------------------------------------------------
// 変数
//

$color_accent: magenta;
$color_base: black;
$color_fesdy: #8dc700;

$radius: 0.7rem;

// ------------------------------------------------------------------
// 共通スタイル
//

html,
body {
  height: 100%;
}

a {
  color: $color_accent;
}
a:hover {
  color: darken($color_accent, 10%);
}

// 修飾なし
a.no-deco {
  text-decoration: none;
}

// フッターを下部へ押しやるための、コンテンツのラッパー
#wrap {
  min-height: 100%;
  height: auto;
  // フッターの高さ分だけ、ネガティブインデントを指定
  margin: 0 auto -6rem;
  // フッターの高さ分だけ、パディングを指定
  padding: 0 0 8rem;
}

// ここでフッターの高さを指定
#footer {
  background-color: $color_base;
  color: lighten($color_base, 90%);
  height: 6rem;
  padding: 2rem 0;
}

// ロゴの大きさ。
// 縦横比は1:2
img.logo {
  height: 5rem;
  margin: auto 0;
}
.navbar-brand {
  padding: 0;
}
