//
// 共通設定
//
// 推奨：各コントローラー向けscssの上部で@importすること
//       @import "common";
//


// ------------------------------------------------------------------
// 変数
//

@import "colors", "breakpoints", "card";

// ------------------------------------------------------------------
// 共通スタイル
//


html,
body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  color: $color_fesdy;
}

a:hover {
  color: darken($color_fesdy, 10%);
}

// 修飾なし
a.no-deco {
  text-decoration: none;
}

// ------------------------------------------------------------------
// ヘッダー
//

#header {
  height: 5rem;
  .navbar-toggle {
    box-sizing: border-box;
    margin: .1rem 0;
    padding: 0;
    height: 4.8rem;
    width: 4.8rem;
    font-size: 2.4rem;
    border: 0;

    &.collapsed {
      color: $color_base;
    }
    color: $color_fesdy;
  }
}

// ロゴの大きさ。
// 縦横比は1:2
img.logo {
  height: 5rem;
  margin: auto 0;
}

.navbar-brand {
  padding: 0;
}

// ------------------------------------------------------------------
// フッター
//

// フッターを下部へ押しやるための、コンテンツのラッパー
#wrap {
  min-height: 100%;
  height: auto;
  // フッターの高さ分だけ、ネガティブインデントを指定
  margin: 0 auto -6rem;
  // フッターの高さ分だけ、パディングを指定
  padding: 0 0 8rem;
}

// ここでフッターの高さを指定
#footer {
  box-shadow: 1px 1px 2px 1px #ccc;
  height: 6rem;
  padding: 2rem 0;
}
