//
// 共通設定
//
// 推奨：各コントローラー向けscssの上部で@importすること
//       @import "common";
//

// ------------------------------------------------------------------
// 変数
//

// 幅
$margin_normal: 3.0rem;
$margin_narrow: 1.5rem;

$padding_normal: 3.0rem;

// 色
$color_background: #fff;

$color_text: #000;
$color_text_righter: #777;
$color_text_rightest: #ccc;
$color_text_reversed: #fff;

$color_accent_darker: #525;
$color_accent: #747;
$color_accent_righter: #faf;

$color_base_darker:  #555;
$color_base:         #777;
$color_base_righter: #efefef;

// ------------------------------------------------------------------
// 共通スタイル
//

html,
body {
  height: 100%;
}

a {
  color: $color_accent;
}

// フッターを下部へ押しやるための、コンテンツのラッパー
#wrap {
  min-height: 100%;
  height: auto;
  // フッターの高さ分だけ、ネガティブインデントを指定
  margin: 0 auto -6rem;
  // フッターの高さ分だけ、パディングを指定
  padding: 0 0 6rem;
}

// ここでフッターの高さを指定
#footer {
  background-color: $color_base_darker;
  color: $color_text_reversed;
  height: 6rem;
  padding: 2rem 0;

  a {
    color: $color_accent_righter;  
  }
}
