@import "common";

.artist-name {
  .info-box {
    position: relative;
    .name {
      font-size: 4.0rem;
      font-weight: lighter;
      text-align: center;
      border-bottom: 1px solid $color_base_lightest;
    }
    .detail {
      text-align: center;
    }
  }
}

.artist-info {
  table {
    margin: 0;
  }
  th {
    text-align: center;
  }
  td {
    color: $color_base_darker;
    text-align: center;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    // 768はbootstrapのブレークポイントの１つ
    @media screen and (min-width: 768px) {
      margin: 0 auto;
      max-width: 76.8rem;
      // 16:9となるように高さ指定
      padding-bottom: 43.2rem;
    }
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // 768はbootstrapのブレークポイントの１つ
    @media screen and (min-width: 768px) {
      max-width: 76.8rem;
      // 16:9となるように高さ指定
      max-height: 43.2rem;
    }
  }
}

.study-control {
  button {
    font-weight: normal;
    height: 12rem;
    width: 100%;
    border-radius: 0;
    @media screen and (max-width: 76.8rem) {
      height: 9rem;
    }
    &:hover {
      background: $color_base_lighter;
    }
  }
}
// ----------------------------------------
// search_itunesが返却する、
// itunes検索結果ビューのスタイリング
//

.itunes .title {
  text-align: center;
}

.itunes .not-found {
  text-align: center;
  color: $color_base_darker;
}

.card.itunes-card {
  height: 16rem;
  position: relative;
  .card-contents {
    height: 100%;
    margin: 0;
    position: relative;
    .card-title {
      position: absolute;
      top: 1.2rem;
      left: 1.2rem;
      font-size: 1.6rem;
    }
    .artwork {
      position: absolute;
      bottom: 1.2rem;
      right: 1.2rem;
    }
    .preview-button {
      position: absolute;
      bottom: 1.2rem;
      left: 1.2rem;
    }
  }
  &:hover {
    background: #efefef;
  }
}
