@import "common";

//
// カード
// 
//  カード要素の共通設定。
//  「#####」は種類を区別するためのクラス
//
//  .card.#####
//    .card-contents
//      .card-title
//      .card-****
//      .card-****
//


.card {
  background: gray;
  box-sizing: border-box;
  height: 15rem;
  display: inline-block;  
  width: 100%;
  margin: 0 0 2rem 0;
  
  .card-contents {
    color: rgba(255,255,255,0.8);
    font-size: 1.8rem;
    margin: 2rem 3rem;
    position: relative;
    font-weight: lighter;

    .card-title {
      display: inline-block;
      font-size: 3.6rem;
    }
  }
}

.card.welcome {
  background: $color_fesdy;
}

.card.festival {
  background: white;
  border: 1px solid $color_fesdy;

  // カード内容
  .card-contents {
    color: $color_fesdy;
    margin: 2rem 3rem;
  }
  &:hover {
    background: #efefef;
    .card-contents {
      color: darken($color_fesdy, 10%);
    }
  }
}

// 完了したフェス
.card.festival.finished {
  background: #efefef;
  border: none;

  // カード内容
  .card-contents {
    color: #d0d0d0;
  }
  &:hover .card-contents {
    color: gray;
  }
}
