@import "common";

.card.welcome {
  color: $color_base_darkest;
}

.card.festival {
  // カード内容
  .card-contents {
    color: $color_main;
  }
  &:hover {
    background: $color_base_lighter;
    .card-contents {
      color: $color_main_darker;
    }
  }
}

// 完了したフェス
.card.festival.finished {
  // カード内容
  .card-contents {
    color: $color_base;
  }
  &:hover .card-contents {
    color: $color_base_darker;
  }
}
