@import "common";

.fes {
  font-weight: lighter;
  position: relative;
  .eye-catch {
    background: $color_base_lightest;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    // trimming
    overflow: hidden;
  }
  .info-box {
    z-index: 9;
    position: relative;
    .name {
      font-size: 3.2rem;
      font-weight: lighter;
      text-align: center;
      border-bottom: 1px solid $color_base_lightest;
      // bootstrap's breakpoints... 768px, 992px, 1200px
      @media screen and (min-width: 76.8rem) {
        font-size: 4.0rem;
        // 大きい時
        text-align: left;
      }
    }
    .date {
      color: $color_base_darkest;
      font-size: 1.8rem;
      text-align: center;
      @media screen and (min-width: 76.8rem) {
        // 大きい時
        font-size: 3.2rem;
        text-align: left;
      }
    }
    .place {
      color: $color_base_darkest;
      font-size: 1.6rem;
      text-align: center;
      @media screen and (min-width: 76.8rem) {
        // 大きい時
        font-size: 1.8rem;
        bottom: 0;
        padding: 0 6rem 2rem 0;
        position: absolute;
        right: 0;
        text-align: right;
      }
    }
    padding: 2rem 0;
    @media screen and (min-width: 76.8rem) {
      padding: 2rem 6rem;
    }
  }
}
button.start {
  background: $color_base_lightest;
  border-radius: 0;
  box-shadow: 1px 1px 2px 1px #ccc;
  color: $color_main;
  font-size: 2.4rem;
  font-weight: normal;
  margin: 0 0 2rem 0;
}
button.start:hover {
  color: $color_main_darker;
  background: #efefef;
}

.artists {
  .festival-date {
    text-align: center;
    box-shadow: 1px 1px 2px 1px #ccc;
    .info {
      padding: 2rem 0 0 0;
      font-weight: normal;
      .date {
        font-size: 2.4rem;
      }
      .place {
        font-size: 1.2rem;
      }
    }
    .study {
      padding: 2rem 0;
      border: 0;
      margin: 0;
      font-size: 1.8rem;
      font-weight: normal;
      background: transparent;
      color: $color_main;
    }
    &:hover {
      background: #efefef;
      color: $color_main_darker;
      .study {
        color: $color_main_darker;
      }
    }
  }
  margin: 0 0 2rem 0;
  th.toggle-date {
    text-align: center;
    font-size: 1.8rem;
    font-weight: lighter;
    padding: 2rem 0;
    color: $color_base_darker;
    &:hover {
      background: $color_base_lighter;
      color: $color_base_darkest;
    }
  }
}
.to-official-site {
  width: 100%;
  margin: 0 0 2rem 0;
  padding: 1rem;
  border-radius: 0;
}

