@import "common";

.fes {
  font-weight: lighter;
  position: relative;
  .eye-catch {
    // TODO: フェスが増えた時、CSSに頼らず背景画像設定
    background-image: url(image_path('messe.jpg'));
    background-position:center center;
    background-repeat:no-repeat;
    -moz-background-size:cover;
    background-size:cover;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    // trimming
    overflow: hidden;
    .filler {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear,left top,right bottom,from(rgba(255,255,255,0.3)),to(rgba(255,255,255,1)));
      z-index: 9;
    }
  }
  .info-box {
    z-index: 9;
    position: relative;
    .name {
      font-size: 4.0rem;
      font-weight: lighter;
      text-align: center;
      border-bottom: 1px solid white;
      // bootstrap's breakpoints... 768px, 992px, 1200px
      @media screen and (min-width: 76.8rem) {
        text-align: left;
      }
    }
    .date {
      color: $color_base;
      font-size: 3.2rem;
      text-align: center;
      @media screen and (min-width: 76.8rem) {
        text-align: left;
      }
    }
    .place {
      color: $color_base;
      font-size: 1.8rem;
      text-align: center;
      @media screen and (min-width: 76.8rem) {
        bottom: 0;
        padding: 0 6rem 2rem 0;
        position: absolute;
        right: 0;
        text-align: right;
      }
    }
    padding: 2rem 0;
    @media screen and (min-width: 76.8rem) {
      padding: 2rem 6rem;
    }
  }
}
button.start {
  background: $color_fesdy;
  border-radius: 0;
  color: white;
  font-size: 2.4rem;
  font-weight: normal;
  margin: 0 0 2rem 0;
}
button.start:hover {
  color: white;
  background: darken($color_fesdy, 10%);
}

.artists {
  margin: 0 0 2rem 0;
  table {
    margin: 0 0 1rem 0;
  }
  thead:hover {
    background: lighten($color_base, 90%);
  }
  th {
    font-weight: lighter;
    color: lighten($color_base, 60%);
    .date {
      font-size: 2.4rem;
    }
    .place {
      font-size: 1.2rem;
    }
  }
  td {
  }
}
.to-official-site {
  width: 100%;
  margin: 0 0 2rem 0;
  padding: 1rem;
}
.to-top {
  width: 100%;
  margin: 0 0 2rem 0;
  padding: 1rem;
}

